PORT=3001
PUBLIC_PATH=public

POSTGRES_URL=postgresql://postgres:123456@127.0.0.1:5432/CAJA
POSTGRES_USER=postgres
POSTGRES_DB=Caja
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456

JWT_SEED=
NODE_ENV=development

SEND_EMAIL=false
SENDGRID_API_KEY=
MAILER_EMAIL=pastranenrique1214@gmail.com

FRONTEND_URL=https://mystify-cadmium-villain.ngrok-free.dev/
ACCEPTED_ORIGINS=http://localhost:4200,http://localhost:3000,https://mystify-cadmium-villain.ngrok-free.dev