
PORT=3001
PUBLIC_PATH=public

POSTGRES_URL=postgresql://postgres:123456@127.0.0.1:5432/CAJA
POSTGRES_USER=postgres
POSTGRES_DB=Caja
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456

JWT_SEED=
NODE_ENV=development

SEND_EMAIL=false
MAILER_SERVICE=gmail
MAILER_EMAIL=
MAILER_SECRET_KEY=
# optional: specify the mailer host and port if different from defaults
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587

FRONTEND_URL=myFrontedDomain.com
ACCEPTED_ORIGINS=http://localhost:4200,http://localhost:3000